@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

body, html {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    display: grid;
    background-color: rgb(54, 54, 54);
    font-family: 'Orbitron', sans-serif;
}
.main {
    margin: auto;
}
.textArea {
    width: 100vw;
    height: 100vh;
}
.note {
    width: 320px;
    height: 180px;
    margin: 10px;
    border: black 2px solid;
    border-radius:  10px 10px 20px 20px;
    background-color: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(10px);
}
.note-bar {
    height: 10%;
    border: black 1px;
    border-style: none none solid none;
    border-radius: 10px 10px 0 0;
    background-color: rgb(24, 24, 24);
}
.note-area {
    height: 90%;
    display: grid;
    color: rgb(0, 192, 0);
}
.note-content {
    margin: auto;
    display: block;
    text-align: center;
    word-wrap: break-word;
}
.inputForm {
    position: fixed;
    bottom: 10px;
    z-index: 2;
}
input[type="text"] {
    background-color: rgb(24, 24, 24);
    color: rgb(0, 192, 0);
    font-family: 'Orbitron', sans-serif;
}
.chatInput {
    width: 50vw;
    padding: 10px;
    border: black 2px solid;
    border-radius: 20px;
}
.userCount {
    color: rgb(0, 192, 0);
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 2;
}